@use 'src/utility/style/mixin.scss' as *;

.parent {
    width: 100%;
    height: 100%;

    > .video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        @include background-color-photo;
    }
}
