@use 'src/utility/style/mixin.scss' as *;

.parent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(226, 226, 226, 0.5);
    @include center-of-rectangle;

    > .main {
        width: 80%;
        height: 80%;
        background-color: white;
        @include center-of-rectangle;
        border-radius: 15px;
        overflow: hidden;

        > .main1 {
            width: 100%;
            height: 100%;

            > video {
                width: 100%;
                height: calc(100% - 50px);
            }

            > .iconContainer {
                @include center-of-row;
                justify-content: flex-end;
                height: 50px;

                > .closeIcon {
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }
            }
        }
    }
}
