@use 'src/utility/style/mixin.scss' as *;

.parent {
    @include center-of-row;
    box-sizing: border-box;
    padding: 10px;
    height: 80px;
    background-color: rgb(228, 228, 228);

    > div:nth-child(1) {
        width: 2px;
        background-color: blue;
        height: 100%;
    }

    > div:nth-child(2) {
        height: 100%;
        flex: 1;
        box-sizing: border-box;
        padding: 5px;
        display: flex;
        flex-direction: column;

        > div:nth-child(1) {
            font-weight: 600;
            font-size: 0.9rem;
        }

        > div:nth-child(2) {
            flex: 1;
        }
    }

    > div:nth-child(3) {
        align-self: flex-start;
        height: 100%;
        width: max-content;

        > svg {
            cursor: pointer;
        }
    }
}
