@use 'src/utility/style/mixin.scss' as *;

.parent {
    background-color: #e2e2e2;
    // width: 100%;
    // height: 100%;
    animation: pulse 1.5s infinite;
}

:local {
    @keyframes pulse {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.4;
        }
        100% {
            opacity: 1;
        }
    }
}
