@use 'src/utility/style/mixin.scss' as *;

.parent {
    background-color: #eee;
    @include center-of-column;
    // margin: 10px 0;

    > .main {
        background-color: white;
        width: 350px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @include responsive(sm) {
            width: 100%;
        }

        > .header {
            box-sizing: border-box;
            padding: 10px;
            font-size: 1.1rem;
            font-weight: 600;
            border-bottom: 1px solid gray;
            position: sticky;
            top: 0;
            background-color: white;
        }

        > .contentContainer {
            width: 100%;
            flex: 1;
            padding: 0 5px;
            overflow-y: scroll;
            @include small-scroll-yy(3px);
            display: flex;
            flex-direction: column-reverse;
        }

        > .iconContainer {
            box-sizing: border-box;
            padding: 5px;
            width: 100%;
            max-width: 300px;
            @include center-of-row;
            justify-content: flex-start;

            > svg {
                width: 25px;
                height: 25px;
                cursor: pointer;
                margin: 5px;
            }

            > svg:nth-child(1) {
                color: greenyellow;
            }
            > svg:nth-child(3) {
                color: red;
            }

            > input {
                display: none;
            }
        }

        > .photoContainer {
            overflow-y: scroll;
            max-height: 300px;
            @include small-scroll-yy(3px);
        }

        > .inputContainer {
            @include center-of-row;

            > input {
                flex: 1;
                border: none;
                outline: none;
                box-sizing: border-box;
                padding: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                border-radius: 15px;
                font-size: 1.1rem;
            }

            > svg {
                cursor: pointer;
            }
        }
    }
}
