@use 'src/utility/style/mixin.scss' as *;

.parent {
    @include center-of-row;
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
    position: relative;

    > .header {
        position: absolute;
        background-color: white;
        transition:
            transform 0.3s ease-in-out,
            top 0.3s ease-in-out,
            left 0.3s ease-in-out;

        &.forcus {
            top: 0;
            left: 10px;
            transform: translateY(-50%);
            background-color: rgb(233, 233, 233);
            box-sizing: border-box;
            padding: 2px;
            border-radius: 10px;
        }

        > div {
            width: max-content;
        }
    }

    > input {
        flex: 1;
        border: none;
        outline: none;
        box-sizing: border-box;
        padding: 5px;
        font-size: 1.1rem;
    }
}
