@use 'src/utility/style/mixin.scss' as *;

.parent {
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 204, 10);
    transition: height 0.3s ease;
    overflow: hidden;

    &.show {
        height: 270px;
    }

    > .header {
        position: relative;
        height: 40px;
        box-sizing: border-box;

        > .btn {
            position: absolute;
            right: 5px;
            cursor: pointer;
            width: max-content;
            background-color: rgb(0, 255, 34);
            box-shadow: 0 0 5px rgb(0, 204, 10);
            color: white;
            box-sizing: border-box;
            padding: 5px;
            border: 1px solid rgb(0, 255, 0);
            border-radius: 5px;
            opacity: 0;
            transition: opacity 0.3s ease;
            display: none;

            &:hover {
                box-shadow: 0 0 10px rgb(0, 204, 10);
                scale: 1.05;
            }

            &:active {
                background-color: white;
                color: rgb(0, 255, 34);
            }

            &.display {
                display: block;
            }

            &.show {
                opacity: 1;
            }
        }

        > .icon {
            position: absolute;
            right: 5px;
            cursor: pointer;
            opacity: 0;
            transition: opacity 0.3s ease;
            display: none;

            &.display {
                display: block;
            }

            &.show {
                opacity: 1;
            }
        }
    }

    > .content {
        > .labelContainer {
            @include center-of-rectangle;
            box-sizing: border-box;
            padding: 10px;

            > div {
                font-weight: 600;
            }
        }

        > .inputContainer {
            box-sizing: border-box;
            padding: 10px;

            > div {
                box-sizing: border-box;
                padding: 5px;
                @include center-of-rectangle;
                margin: 10px 0;

                > div {
                    box-sizing: border-box;
                    border: 1px solid gray;
                    padding: 10px;
                    border-radius: 10px;
                    position: relative;

                    > div {
                        position: absolute;
                        top: 0;
                        left: 10px;
                        transform: translateY(-50%);
                        background-color: rgb(240, 240, 240);
                        box-sizing: border-box;
                        padding: 3px;
                        border-radius: 5px;
                        font-size: 0.9rem;
                        font-style: italic;
                        color: gray;
                    }

                    > input {
                        border: none;
                        outline: none;
                    }
                }
            }

            > div:nth-child(1) {
                > div {
                    width: 150px;

                    > input {
                        width: 100%;
                    }
                }
            }

            > div:nth-child(2) {
                > div {
                    width: 100%;

                    > input {
                        width: 100%;
                    }
                }
            }
        }
    }

    > .btnContainer {
        @include center-of-rectangle;

        > button {
            cursor: pointer;
            width: max-content;
            background-color: rgb(0, 255, 34);
            box-shadow: 0 0 5px rgb(0, 204, 10);
            color: white;
            box-sizing: border-box;
            padding: 5px;
            border: 1px solid rgb(0, 255, 0);
            border-radius: 5px;

            &:hover {
                box-shadow: 0 0 10px rgb(0, 204, 10);
                scale: 1.05;
            }

            &:active {
                background-color: white;
                color: rgb(0, 255, 34);
            }
        }
    }
}
