@use 'src/utility/style/mixin.scss' as *;

.parent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(161, 161, 161, 0.3);
    @include center-of-rectangle;
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-in-out;

    &.opacity {
        opacity: 1;
    }

    &.display {
        display: flex;
    }

    > .main {
        background-color: white;
        width: 300px;
        border-radius: 15px;

        @include responsive(sm) {
            width: 80%;
        }

        > .closeContainer {
            display: flex;
            justify-content: flex-end;
            box-sizing: border-box;
            padding: 5px;

            > svg {
                cursor: pointer;
            }
        }

        > .contentContainer {
            box-sizing: border-box;
            padding: 10px;

            > div {
                @include center-of-rectangle;
                text-align: center;
            }
        }
    }
}
