@use 'src/utility/style/mixin.scss' as *;

.parent {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    @include small-scroll-yy(1px);
    background-color: #eff6ff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
