@use 'src/utility/style/mixin.scss' as *;

.parent {
    max-width: 100%;
    position: relative;

    > .playIcon {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
}
