@use 'src/utility/style/mixin.scss' as *;

.parent {
    box-sizing: border-box;
    padding: 5px;
    @include center-of-row;
    height: 70px;
    cursor: pointer;

    &:hover {
        background-color: rgb(240, 240, 255);
    }

    > .avatarContainer {
        width: 60px;
        height: 100%;

        > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    > .contentContainer {
        height: 100%;
        flex: 1;
        box-sizing: border-box;
        padding: 5px;

        > .nameContainer {
            @include center-of-rectangle;
            height: 50%;

            > div {
                width: 100%;
                @include center-of-row;

                > .name {
                    flex: 1;
                    font-weight: 500;
                    font-size: 1.1rem;
                    @include line-clamp(1);
                }

                > .time {
                    width: max-content;
                }
            }
        }

        > .messageContainer {
            @include center-of-rectangle;
            height: 50%;

            > div {
                width: 100%;
                @include center-of-row;

                > div {
                    color: gray;
                }

                > .message {
                    flex: 1;
                    @include line-clamp(1);
                }

                // > .newAmount {
                //     width: max-content;
                // }

                > .newAmountRed {
                    width: max-content;
                    background-color: red;
                    color: white;
                    width: 25px;
                    height: 25px;
                    @include center-of-rectangle;
                    border-radius: 50%;
                }
            }
        }
    }
}
