@use 'src/utility/style/mixin.scss' as *;

.parent {
    background-color: #eee;
    @include center-of-column;
    // margin: 10px 0;

    > .main {
        background-color: white;
        width: 350px;
        height: 100vh;
        display: flex;
        flex-direction: column;

        @include responsive(sm) {
            width: 100%;
        }

        > .header {
            box-sizing: border-box;
            padding: 10px;
            font-size: 1.1rem;
            font-weight: 600;
            border-bottom: 1px solid gray;
            position: sticky;
            top: 0;
            background-color: white;
        }

        > .list {
            width: 100%;
            flex: 1;
            overflow-y: scroll;
            @include small-scroll-yy(3px);

            > .infor {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 20px 0;

                > .avatar {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                    box-sizing: border-box;
                }

                > .admin {
                    color: blue;
                }
            }

            > .option {
                box-sizing: border-box;
                padding: 10px;
                font-size: 0.9rem;
                font-weight: 500;
                border-bottom: 1px solid gray;
                cursor: pointer;

                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }

        > .headerTab {
            position: sticky;
            bottom: 0;
        }
    }
}
