@use 'src/utility/style/mixin.scss' as *;

.parent {
    background-color: #eee;
    @include center-of-column;

    > .main {
        background-color: white;
        width: 350px;
        // height: 100vh;
        height: 500px;
        display: flex;
        flex-direction: column;

        > .header {
            box-sizing: border-box;
            padding: 10px;
            font-size: 1.1rem;
            font-weight: 600;
            border-bottom: 1px solid gray;
            position: sticky;
            top: 0;
            background-color: white;
        }

        > .list {
            width: 100%;
            flex: 1;
            overflow-y: scroll;
            @include small-scroll-yy(3px);
            display: flex;
            flex-direction: column-reverse;
        }

        > .headerTab {
            position: sticky;
            bottom: 0;
        }
    }
}
