@use 'src/utility/style/mixin.scss' as *;

.parent {
    @include center-of-row;
    align-items: stretch;
    margin: 10px 0;
    justify-content: flex-end;

    > .main {
        @include center-of-row;
        align-items: stretch;
        width: 80%;

        > .contentContainer {
            width: max-content;
            max-width: 100%;

            > .content {
                background-color: rgb(210, 248, 255);
                box-sizing: border-box;
                border-radius: 10px;
                padding: 5px;
                width: max-content;
                max-width: 100%;

                > .text {
                    @include center-of-row;
                    justify-content: flex-end;
                    max-width: 100%;

                    > div {
                        width: max-content;
                        max-width: 100%;
                    }
                }

                > .image {
                    max-width: 100%;
                }

                > .video {
                    max-width: 100%;
                }
            }

            > .status {
                font-size: 0.8rem;
                color: gray;
            }
        }
    }
}
