@use 'src/utility/style/mixin.scss' as *;

.parent {
    @include center-of-row;
    align-items: stretch;
    margin: 10px 0;
    justify-content: flex-end;

    > .main {
        @include center-of-row;
        align-items: stretch;
        width: 80%;

        > .contentContainer {
            background-color: blue;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 5px;
            width: max-content;
            max-width: 100%;

            > .text {
                color: white;
                @include center-of-row;
                justify-content: flex-end;

                > div {
                    width: max-content;
                }
            }

            > .image {
                max-width: 100%;
            }
        }
    }
}
