@use 'src/utility/style/mixin.scss' as *;

.parent {
    width: 100%;
    height: 300px;
    background-color: rgb(228, 255, 255);
    @include center-of-rectangle;

    > div {
        > div {
            @include center-of-rectangle;
            margin: 10px 0;

            > div {
                display: flex;
                flex-direction: column;

                > div:nth-child(1) {
                    @include center-of-row;

                    > div:nth-child(2) {
                        @include center-of-rectangle;
                        height: 100%;
                        padding: 0 5px;

                        > svg {
                            cursor: default;

                            &:hover {
                                scale: 1.1;
                            }
                        }
                    }
                }

                > div:nth-child(2) {
                    font-style: italic;
                    height: 25px;
                    @include center-of-rectangle;
                }
            }
        }

        > .label {
            font-size: 1.1rem;
            font-weight: 600;
        }

        > .warn {
            color: red;
            font-style: italic;
            font-size: 0.9rem;
        }
    }
}
